@font-face {
    font-family: 'GROBOLD';
    src: url('../fonts/GROBOLD.ttf') format('truetype');
}

@font-face {
    font-family: 'Archivo';
    src: url('../fonts/Archivo/Archivo-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Archivo';
    src: url('../fonts/Archivo/Archivo-BoldItalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Archivo';
    src: url('../fonts/Archivo/Archivo-Book.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Archivo';
    src: url('../fonts/Archivo/Archivo-BookItalic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Archivo';
    src: url('../fonts/Archivo/Archivo-Light.otf') format('opentype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Archivo';
    src: url('../fonts/Archivo/Archivo-LightItalic.otf') format('opentype');
    font-weight: lighter;
    font-style: italic;
}

@font-face {
    font-family: 'Archivo';
    src: url('../fonts/Archivo/Archivo-Medium.otf') format('opentype');
    font-weight: 500; /* or use 'medium' if supported */
    font-style: normal;
}

@font-face {
    font-family: 'Archivo';
    src: url('../fonts/Archivo/Archivo-MediumItalic.otf') format('opentype');
    font-weight: 500; /* or use 'medium' if supported */
    font-style: italic;
}

@font-face {
    font-family: 'Archivo';
    src: url('../fonts/Archivo/Archivo-Bold_21016.ttf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Archivo';
    src: url('../fonts/Archivo/Archivo-BoldItalic_21018.ttf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Archivo';
    src: url('../fonts/Archivo/Archivo-Book_21020.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Archivo';
    src: url('../fonts/Archivo/Archivo-Medium_21022.ttf') format('opentype');
    font-weight: 500; /* or use 'medium' if supported */
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Archivo', sans-serif;
    scroll-behavior: smooth;
}

.text-grobold {
    font-family: 'GROBOLD', sans-serif;
    text-shadow: 5px 5px rgb(209, 236, 241);
}

.text-grobold-description {
    font-family: 'GROBOLD', sans-serif;
}

.navbar {
    background-image: url(../img/Slide1/header-bg.svg);
}

.header-container {
    background-image: url(../img/Slide1/sea.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.section--full-height {
    height: 100vh;
}

.section-2 {
    width: 100vw;
    background-image: url(../img/Slide2/bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.section-3 {
    background-image: url(../img/Slide3/bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.outro-section {
    background-image: url(../img/outro-bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

::-webkit-scrollbar {
    width: 8px;
    border-radius: 5px;
    display: none;
}
/* Hide video controls */
video::-webkit-media-controls {
    display: none !important;
}

.video-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.video-container video {
    /* Make video to at least 100% wide and tall */
    min-width: 100%;
    min-height: 100%;

    /* Setting width & height to auto prevents the browser from stretching or squishing the video */
    width: auto;
    height: auto;

    /* Center the video */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes roll {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(100vw, 100vh);
    }
    /* 100% {
        transform: translate(0, 0);
    } */
}
@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.animate-text {
    animation: blinker 2s step-end infinite;
    font-family: 'GROBOLD', sans-serif;
}

.manta {
    /* animation-name: roll;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-delay: 2s; */
    transform: scaleX(-1);
}

svg#fish {
    top: 5em;
}
/* Fish Animation */
svg.fish {
    overflow: visible;
}

@-webkit-keyframes swim {
    0% {
        margin-left: 100%;
    }
    90% {
        margin-left: -235px;
    }
    100% {
        margin-left: -235px;
    }
}

@keyframes swim {
    0% {
        margin-left: 100%;
    }
    70% {
        margin-left: -235px;
    }
    100% {
        margin-left: -235px;
    }
}

.fish {
    width: 235px;
    height: 104px;
    margin-left: -235px;
    position: absolute;
    animation: swim 20s;
    -webkit-animation: swim 20s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    transform: scaleX(-1);
}

svg #fish1,
svg #fish2,
svg #fish3,
svg #fish4,
svg #fish5,
svg #fish6 {
    fill: #528484;

    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

svg #fish2 {
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
}

svg #fish3 {
    animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
}

svg #fish4 {
    animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
}

svg #fish5 {
    animation-delay: 0.1s;
    -webkit-animation-delay: 0.1s;
}

svg #fish6 {
    animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
}

/**/
@-moz-keyframes bounce {
    0%,
    50%,
    100% {
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
    25% {
        -moz-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    75% {
        -moz-transform: translateY(-3px);
        transform: translateY(-3px);
    }
}
@-webkit-keyframes bounce {
    0%,
    50%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    25% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    75% {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
}
@keyframes bounce {
    0%,
    50%,
    100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    25% {
        -moz-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    75% {
        -moz-transform: translateY(-3px);
        -ms-transform: translateY(-3px);
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
}
