@font-face {
    font-family: 'GROBOLD';
    src: url('../fonts/GROBOLD.ttf') format('truetype');
}

@font-face {
    font-family: 'Archivo';
    src: url('../fonts/Archivo/Archivo-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Archivo';
    src: url('../fonts/Archivo/Archivo-BoldItalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Archivo';
    src: url('../fonts/Archivo/Archivo-Book.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Archivo';
    src: url('../fonts/Archivo/Archivo-BookItalic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Archivo';
    src: url('../fonts/Archivo/Archivo-Light.otf') format('opentype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Archivo';
    src: url('../fonts/Archivo/Archivo-LightItalic.otf') format('opentype');
    font-weight: lighter;
    font-style: italic;
}

@font-face {
    font-family: 'Archivo';
    src: url('../fonts/Archivo/Archivo-Medium.otf') format('opentype');
    font-weight: 500; /* or use 'medium' if supported */
    font-style: normal;
}

@font-face {
    font-family: 'Archivo';
    src: url('../fonts/Archivo/Archivo-MediumItalic.otf') format('opentype');
    font-weight: 500; /* or use 'medium' if supported */
    font-style: italic;
}

@font-face {
    font-family: 'Archivo';
    src: url('../fonts/Archivo/Archivo-Bold_21016.ttf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Archivo';
    src: url('../fonts/Archivo/Archivo-BoldItalic_21018.ttf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Archivo';
    src: url('../fonts/Archivo/Archivo-Book_21020.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Archivo';
    src: url('../fonts/Archivo/Archivo-Medium_21022.ttf') format('opentype');
    font-weight: 500; /* or use 'medium' if supported */
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Archivo', sans-serif;
    scroll-behavior: smooth;
}

.navbar {
    background-image: url(../img/Slide1/header-bg.svg);
}

.header-container {
    background-image: url(../img/Slide1/sea.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.section--full-height {
    height: 100vh;
}

.section-2 {
    height: 100vh;
    background-image: url(../img/Slide2/bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.section-3 {
    height: 100vh;
    background-image: url(../img/Slide3/bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.outro-section {
    background-image: url(../img/outro-bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

::-webkit-scrollbar {
    width: 12px;
    display: none;
}

