@font-face {
    font-family: 'GROBOLD';
    src: url('../fonts/GROBOLD.ttf') format('truetype');
}

@font-face {
    font-family: 'Archivo';
    src: url('../fonts/Archivo/Archivo-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Archivo';
    src: url('../fonts/Archivo/Archivo-BoldItalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Archivo';
    src: url('../fonts/Archivo/Archivo-Book.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Archivo';
    src: url('../fonts/Archivo/Archivo-BookItalic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Archivo';
    src: url('../fonts/Archivo/Archivo-Light.otf') format('opentype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Archivo';
    src: url('../fonts/Archivo/Archivo-LightItalic.otf') format('opentype');
    font-weight: lighter;
    font-style: italic;
}

@font-face {
    font-family: 'Archivo';
    src: url('../fonts/Archivo/Archivo-Medium.otf') format('opentype');
    font-weight: 500; /* or use 'medium' if supported */
    font-style: normal;
}

@font-face {
    font-family: 'Archivo';
    src: url('../fonts/Archivo/Archivo-MediumItalic.otf') format('opentype');
    font-weight: 500; /* or use 'medium' if supported */
    font-style: italic;
}

@font-face {
    font-family: 'Archivo';
    src: url('../fonts/Archivo/Archivo-Bold_21016.ttf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Archivo';
    src: url('../fonts/Archivo/Archivo-BoldItalic_21018.ttf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Archivo';
    src: url('../fonts/Archivo/Archivo-Book_21020.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Archivo';
    src: url('../fonts/Archivo/Archivo-Medium_21022.ttf') format('opentype');
    font-weight: 500; /* or use 'medium' if supported */
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Archivo', sans-serif;
    scroll-behavior: smooth;
}

.text-grobold {
    font-family: 'GROBOLD', sans-serif;
    text-shadow: 5px 5px rgb(209, 236, 241);
}

.text-grobold-description {
    font-family: 'GROBOLD', sans-serif;
}

.navbar {
    background-image: url(../img/Slide1/header-bg.svg);
}

.header-container {
    background-image: url(../img/Slide1/sea.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.section--full-height {
    height: 100vh;
}

.section-2 {
    width: 100vw;
    background-image: url(../img/Slide2/bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.section-3 {
    height: 100vh;
    background-image: url(../img/Slide3/bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.outro-section {
    background-image: url(../img/outro-bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

::-webkit-scrollbar {
    width: 8px;
    border-radius: 5px;
    display: none;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #081b5a;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(2, 35, 50);
}
/* Hide video controls */
video::-webkit-media-controls {
    display: none !important;
}

.video-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.video-container video {
    /* Make video to at least 100% wide and tall */
    min-width: 100%;
    min-height: 100%;

    /* Setting width & height to auto prevents the browser from stretching or squishing the video */
    width: auto;
    height: auto;

    /* Center the video */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes roll {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(100vw, 100vh);
    }
    /* 100% {
        transform: translate(0, 0);
    } */
}
@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.animate-text {
    animation: blinker 1.5s step-end infinite;
    font-family: 'GROBOLD', sans-serif;
}

.manta {
    animation-name: roll;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-delay: 2s;
}
